.flexRow--About-us{
    display: flex;
    justify-content: center;
    max-width: 1252px;
}
.flexColChild--Col-SobreNos-Institucional{
    padding-bottom: 4px;
}
.flexColChild--sbnColPrecisaDeAjuda{
    padding-bottom: 4px;
}
.flexRowContent--About-us{
    display: flex;
    justify-content: center;
margin-top: 76px;
max-width: 1252px;
}

.flexCol--Col-SobreNos-Institucional{
    margin-top: 20px;
    width: 130px;
    height: 142px;
}
.flexCol--sbnColPrecisaDeAjuda{
    margin-top: -240px;
    width: 200px;
    height: 142px;
}
.flexRow--Menu-About-us-Mobile{

    display: flex;
}
.flexRowContent--Menu-About-us-Mobile{
    text-align: left;
font: normal normal bold 14px/19px arial;
letter-spacing: 1.4px;
color: #25282A;
text-transform: uppercase;
opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    opacity: 1;
    margin-top: 20px;
    justify-content: center;
    display: flex;
}
.flexRowContent--Menu-About-us-Mobile{
    width: 372px;

}
.flexRowContent--contact :global(.vtex-input__label){
    text-align: left;
font: normal normal normal 12px/21px arial;
letter-spacing: 0px;
color: #25282A;
opacity: 1;

}
.flexRowContent--contact :global(.vtex-input-prefix__group){
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EEEEEE;
opacity: 1;
}
.flexRowContent--contact :global(.vtex-styleguide-9-x-container){
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EEEEEE;
    opacity: 1;
}
.flexRowContent--contact :global(.vtex-dropdown__label){
    text-align: left;
    font: normal normal normal 12px/21px arial;
    letter-spacing: 0px;
    color: #25282A;
    opacity: 1;
}
.flexRowContent--contact :global(.vtex-textarea__label){
    text-align: left;
    font: normal normal normal 12px/21px arial;
    letter-spacing: 0px;
    color: #25282A;
    opacity: 1;
}
.flexRowContent--contact :global(.vtex-textarea__input){
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EEEEEE;
    opacity: 1;
}
.flexRowContent--contact :global(.vtex-button){
    width: 201px;
height: 40px;
    background: #441AFA 0% 0% no-repeat padding-box;
opacity: 1;
}
.flexCol--box-contact{
    margin-left: -170px;

    margin-top: 124px;
    width: 404px;
    height: 208px;
    background-color: #EEEEEE;
}



.flexRowContent--row-search-banner :global(.vtex-search-2-x-searchBanner--banner-departament){
    margin-top: -15px;
   width: 1920px;
   margin-left: -204px;

}
.flexRowContent--row-search-banner :global(.vtex-search-2-x-searchBanner--banner-departament) :first-child{
    width: 100%;

}
.flexRowContent--contact{
    max-width: 1252px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.flexCol--Contact-About-us-esquerda{
    margin-top: 57px;
}
.flexCol--FormContactUs{
    width: 404px;
    margin-left: -349px
}
.flexColChild--FormContactUs :global(.vtex-input-prefix__group){
    width: 404px;
height: 40px;
}
.flexColChild--contactColPrecisaDeAjuda{
    padding-bottom: 4px;
}
.flexCol--contactColPrecisaDeAjuda{
    height: 50%;

}

.flexRow--contact{
    margin-top: -60px;
}
.flexRow--About-us{

    margin-top: -60px;
}
.flexRow--catalogo-main{
    max-width: 1252px;
    margin: auto;
}
.flexCol--conteudo-catalogo-main{
    margin-left: -599px;
}
.flexRowContent--catalogo-image{
    margin-left: -105px;
}