.wrapper--sbncoltitulo{
    text-align: left;
font: normal normal bold 14px/19px arial;
letter-spacing: 1.4px;
color: #25282A;
text-transform: uppercase;
opacity: 1;
}
.wrapper--sbntitulo{
    text-align: left;
    font: normal normal bold 21.5px/29px arial;
    letter-spacing: 2.4px;
    color: #441AFA;
    text-transform: uppercase;
    opacity: 1;
}
.wrapper--sbnConteudo{
    text-align: left;
font: normal normal normal 14px/19px arial;
letter-spacing: 0px;
color: #8C8F90;
opacity: 1;
}
.wrapper--sbntitulo-mobile{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
height: 33px;
text-align: left;
font: normal normal bold 24px/33px arial;
letter-spacing: 2.4px;
color: #441AFA;
text-transform: uppercase;
opacity: 1;
}
.wrapper--sbnConteudo-mobile{
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
font: normal normal normal 14px/19px arial;
letter-spacing: 0px;
color: #8C8F90;
opacity: 1;
}
.wrapper--contact-us{
    text-align: left;
font: normal normal bold 24px/33px arial;
letter-spacing: 2.4px;
color: #441AFA;
text-transform: uppercase;
opacity: 1;
}
.strong--ContactFaleConosco{
    margin-top: 0px;
    margin-left: 31px;
    text-align: left;
font: normal normal bold 11px/15px arial;
letter-spacing: 1.1px;
color: #25282A;
text-transform: uppercase;
opacity: 1;
}
.paragraph--ContactFaleConosco{
    margin-top: 23px;
}
.paragraph--ContactNumberPhone{
    margin-top: 10px;
text-align: left;
font: normal normal bold 19px/23px arial;
letter-spacing: 0px;
color: #441AFA;
opacity: 1;
}
.wrapper--ContactNumberPhone {
    margin-top: -15px;
    margin-left: 31px;
text-align: left;
font: normal normal bold 19px/23px arial;
letter-spacing: 0px;
color: #441AFA;
opacity: 1;
}
.paragraph--ContactNumberPhoneFixed{
    margin-top: -15px;
    margin-left: 31px;
text-align: left;
font: normal normal bold 19px/23px arial;
letter-spacing: 0px;
color: #441AFA;
opacity: 1;
}
.wrapper--ContactHorarioFuncionamento   {
    margin-bottom: 33px;
    margin-top: -18px;
    margin-left: 31px;
    text-align: left;
    font: normal normal normal 11px/15px arial;
    letter-spacing: 0px;
    color: #25282A;
    opacity: 1;
    text-decoration: none;
}
.headingLevel2--contact-us{
    margin-top: 87px;
    width: 508px;
text-align: left;
font: normal normal bold 21.5px/29px arial;
letter-spacing: 2.4px;
color: #441AFA;
text-transform: uppercase;
opacity: 1;

}
.container--text-breadcrumb{
    max-width: 1252px;
}
.paragraph--breadcrumb-icon{
    color: #B1B3B3;
}
.wrapper--titulo-catalogo{
    text-align: left;
font: normal normal bold 24px/33px arial;
letter-spacing: 2.4px;
color: #441AFA;
text-transform: uppercase;
opacity: 1;
}
.wrapper--subtitulocatalogo{
    text-align: left;
font: normal normal normal 14px/19px arial;
letter-spacing: 0px;
color: #8C8F90;
opacity: 1;
}
.wrapper--TituloCatalogoMobile{
    margin: auto;
text-align: left;
font: normal normal bold 24px/33px arial;
letter-spacing: 2.4px;
color: #441AFA;
text-transform: uppercase;
opacity: 1;
}
.wrapper--SubTituloCatalogoMobile{
    display: flex;
    margin: auto;
    justify-content: flex-start;
    text-align: left;
font: normal normal normal 14px/19px arial;
letter-spacing: 0px;
color: #8C8F90;
opacity: 1;
}   
.paragraph--ContactFaleConoscoMobile{
    margin-top: 23px;
    text-align: left;
font: normal normal bold 11px/15px arial;
letter-spacing: 1.1px;
color: #25282A;
text-transform: uppercase;
opacity: 1;
}
.paragraph--ContactNumberPhoneMobile{
    margin-top: 10px;
    text-align: left;
font: normal normal bold 20px/27px arial;
letter-spacing: 0px;
color: #441AFA;
opacity: 1;
}
.paragraph--ContactNumberPhoneFixedMobile{
margin-top: 0px;
text-align: left;
font: normal normal bold 20px/27px arial;
letter-spacing: 0px;
color: #441AFA;
opacity: 1;
}
.paragraph--ContactHorarioFuncionamentoMobile{
    margin-top: -10px;
    text-decoration: none;
    text-align: left;
font: normal normal normal 11px/15px arial;
letter-spacing: 0px;
color: #25282A;
opacity: 1;
}