.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRowContent--grid1252 {
  max-width: 1252px;
  padding: 0px;
  margin: 0px auto;
}

.flexRowContent--faq{
  max-width: 1252px;
  margin: auto;
}
.flexRow--quantity-add-cart-button{
  width: 100%;
}
.flexRow--Menu-About-us-Mobile{
  max-width: 414px;
  display: flex;
  justify-content: flex-start;
}
.flexRowContent--ConteudoContactMobile{
  max-width: 414px;
  justify-content: center;
}
.flexRowContent--box-contact-mobile{
  margin-top: 30px;
  width: 372px;
  height: 208px;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    opacity: 1;
}
.flexRowContent--box-contact-mobile{
  padding-left: 20px;
}
.flexRowContent--CatalogoConteudoMobile :global(.vtex-input__label){
  width: 37px;
height: 17px;
text-align: left;
font: normal normal normal 12px/21px arial;
letter-spacing: 0px;
color: #25282A;
opacity: 1;
}
.flexRowContent--CatalogoConteudoMobile :global(.vtex-textarea__label){
  width: 65px;
height: 17px;
text-align: left;
font: normal normal normal 12px/21px arial;
letter-spacing: 0px;
color: #25282A;
opacity: 1;
}

.flexRowContent--ConteudoContactMobile :global(.vtex-input-prefix__group){
  width: 372px;
height: 40px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EEEEEE;
opacity: 1;
}
.flexRowContent--ConteudoContactMobile :global(.vtex-styleguide-9-x-container){
  width: 372px;
height: 40px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E9E9E9;
opacity: 1;
}
.flexRowContent--ConteudoContactMobile :global(.vtex-textarea__input){
  width: 372px;
height: 156px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E9E9E9;
opacity: 1;
}
.flexRowContent--ConteudoContactMobile :global(.vtex-button){
  border: solid 0px;
  border-radius: 0px;
  margin-top: 20px;
  width: 201px;
height: 40px;
background: #441AFA 0% 0% no-repeat padding-box;
opacity: 1;
}