.flexRowContent--breadcrump{
    max-width: 1252px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.flexRow--PageProductMain{
    max-width: 1252px;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 

}