.flexRowContent--breadcrump{
    max-width: 1252px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.flexRowContent--ProductMain{
    max-width: 1252px;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 

}
.flexRowContent--product-name-pdp :global(.vtex-store-components-3-x-productBrand){
text-align: left;
font: normal normal bold 20px/22px arial;
letter-spacing: 0px;
color: #25282A;
text-transform: uppercase;
opacity: 1;
}

.flexRow--RowProductPrice{
    display: flex;
    flex-direction: row;
    padding: right 100px;
    margin-bottom: 5px;
    width: 100%;
}

.flexRow--RowProductPrice :global(.vtex-product-price-1-x-listPrice){
margin-bottom: 10px;
justify-content: flex-start;
text-align: left;
text-decoration: line-through;
font: normal normal normal 12px/18px arial;
letter-spacing: 0px;
color: #25282A;
opacity: 1;
padding-right: 100px;
}

.flexRow--RowProductPrice :global(.vtex-product-price-1-x-savings){
text-align: left;
letter-spacing: 0px;
color: #25282A;
opacity: 1;
font: normal normal normal 12px/18px arial;
}
.flexRowContent--sellingproductpricepdp :global(.vtex-product-price-1-x-sellingPrice){
 margin-bottom: 10px;
text-align: left;
font: normal normal bold 24px/18px arial;
letter-spacing: 0px;
color: #441AFA;
opacity: 1;
}

.flexRowContent--ProductQuantity :global(.vtex-product-quantity-1-x-quantitySelectorContainer){
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.flexRowContent--ProductQuantity :global(.vtex-product-quantity-1-x-quantitySelectorTitle){
    color: #000000;
    padding-top: 7px;
    padding-right: 15px;
}
.vtex-product-quantity-1-x-quantitySelectorStepper{
    border-radius: 0px;
}
.flexRowContent--ProductQuantity :global(.vtex-numeric-stepper__input) {
    border-radius: 0px;
    font-size: 17px;
    color: #989898;
    width: 55px;
    border: 0;
    background-color: transparent;
}

.flexRowContent--ProductQuantity :global(.vtex-numeric-stepper__plus-button) {
    color: #000000;
    font-size: 25px;
    width: 15px !important;
    border: 0;
    background-color: transparent;
}

.flexRowContent--ProductQuantity :global(.vtex-numeric-stepper__minus-button) {
    color: #000000;
    font-size: 25px;
    width: 15px !important;
    border: 0;
    background-color: transparent;
}
.flexRowContent--ShiipingSimulator :global(.vtex-input__label){
    text-align: left;
    font: normal normal bold 15px/19px arial;
    color: #25282A;
    text-transform: uppercase;
    opacity: 1;
}

.flexRowContent--ShiipingSimulator :global(.vtex-button__label){
width: 351px;
height: 48px;
background: #25282A 0% 0% no-repeat padding-box;
opacity: 1;
color: #FFFFFF;
}
.flexRowContent--ShiipingSimulator :global(.vtex-input-prefix__group){
width: 351px;
height: 40px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EEEEEE;
border-radius: 3px;
opacity: 1;
}
.flexRow--BuyButtonPdp{
    padding-right: 100px;
}
.flexRow--BuyButtonPdp :global(.vtex-button){
border-radius: 0px;
margin-left: -50px;
max-width: 350px;
width: 100%;
max-height: 350px;
height: 100%;
border: none;
background: #441AFA 0% 0% no-repeat padding-box;
opacity: 1;

}

.flexRow--RowProductPrice{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;

}

.flexCol--right-col :global(.vtex-product-price-1-x-installments){
text-align: left;
font: normal normal normal 12px/17px arial;
letter-spacing: 0px;
color: #25282A;
opacity: 1;
}
.flexCol--right-col :global(.vtex-store-components-3-x-price_sellingPriceContainer){
margin-top: 20px;
text-align: left;
text-decoration: line-through;
font: normal normal normal 12px/18px arial;
letter-spacing: 0px;
color: #25282A;
opacity: 1;

}

.flexCol--right-col :global(.vtex-store-components-3-x-price_sellingPriceLabel){
display: none!important;
}

.flexRowContent--DescricaoPdp{
    display: flex;
    flex-direction: column;
}
.flexRowContent--maindescricaopdp{
    margin-top: 50px;
}
.flexRowContent--maindescricaopdp :global(.vtex-store-components-3-x-productDescriptionTitle){
text-align: left;
font: normal normal bold 16px/22px arial;
letter-spacing: 1.6px;
color: #441AFA;
text-transform: uppercase;
opacity: 1;

}

.flexRowContent--maindescricaopdp :global(.vtex-store-components-3-x-productDescriptionText){
    text-align: left;
font: normal normal normal 14px/18px arial;
letter-spacing: 0px;
color: #25282A;
opacity: 1;
}
.flexRowContent--maindescricaopdp :global(.vtex-product-specifications-1-x-groupName){
    display: flex;
    justify-content: center;
}
.flexRow--specification-group{
    margin-top: -190px;
}
.flexRowContent--specification-group{
    padding-left: 120px;
    max-width: 1252px;
    justify-content: center;
    align-items: center;
}
.flexRow--productSpecificationGroupName{
    background-color: transparent!important;
}
.flexRow--productSpecificationGroup:not(:first-child) {
    margin-top: 0px!important;
}
.flexRow--productSpecificationGroupName :global(.vtex-product-specifications-1-x-groupName){
    text-align: left;
    font: normal normal bold 16px/22px arial;
    letter-spacing: 1.6px;
    color: #441AFA;
    text-transform: uppercase;
    opacity: 1;
}

.flexRowContent--ShiipingSimulator :global(.vtex-button){
    background-color: transparent;
    border-color: transparent;
}

.flexRowContent--ShiipingSimulator :global(.vtex-store-components-3-x-shippingTableBody){
    display: flex;

   
}
.flexRowContent--ShiipingSimulator :global(.vtex-input__label){
    display: none;
}

.flexRowContent--ShiipingSimulator :global(.vtex__icon-external-link){
    display: none;
}
.flexRowContent--ShiipingSimulator :global(.vtex-address-form__postalCode-forgottenURL){
    text-decoration: underline;
    color: #000000!important;
}
.flexRowContent--ShiipingSimulator :global(.vtex-address-form__postalCode-forgottenURL) :first-child{
    color: #000000;
}
.flexRow--descricaopdp{
    height: 403px;
    background-color: #EEEEEE ;
    display: flex;
    justify-content: center;
}
.flexRowContent--descricaopdp{
    display: flex;
    justify-content: center;
    max-width: 1252px;
}
.flexRowContent--rowpdpfooterfixed{
    align-items: center;
}
.flexRow--pdpfooterfixed{
    height: 80px;
    background-color: #EEEEEE;
}
.flexRowContent--pdpfooterfixed{
    max-width: 1252px;
    display: flex;
    align-items: center;
    margin: auto;
}
.flexCol--footerfixed1{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.flexCol--footerfixed2{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.flexRow--rowpdpfooterfixed :global(.vtex-store-components-3-x-productBrand--quickview){
    padding-left: 15px;
    text-align: left;
font: normal normal bold 12px/17px arial;
letter-spacing: 0px;
color: #25282A;
text-transform: uppercase;
opacity: 1;
}

.flexRow--rowpdpfooterfixed :global(.vtex-product-price-1-x-sellingPriceValue){
    font-size: 1.75rem;
    text-align: left;
font: normal normal bold 20px/18px arial;
letter-spacing: 0px;
color: #441AFA;
opacity: 1;
}
.flexRow--rowpdpfooterfixed :global(.vtex-product-price-1-x-installments){
  margin-top: 40px;
    padding-right: 15px;
    padding-left:15px ;
    text-align: left;
font: normal normal normal 14px/18px arial;
letter-spacing: 0px;
color: #25282A;
}
.flexRow--rowpdpfooterfixed :global(.vtex-button__label){
    border-radius: 0px!important;
    border: none!important;
    width: 245px;
height: 48px;
background: #441AFA 0% 0% no-repeat padding-box;
opacity: 1;
}
.flexRow--rowpdpfooterfixed :global(.vtex-store-components-3-x-productImagesGallerySlide){
    padding-top: 10px; 
    display: flex;
    justify-content: flex-start;
    width: 50px!important;
}

.flexRow--rowpdpfooterfixed :global(.vtex-product-price-1-x-installmentsNumber), :global(.vtex-product-price-1-x-installmentsNumber--summary-1--4){
    width: 24px;
height: 19px;
    text-align: left;
font: normal normal bold 14px/18px arial;
letter-spacing: 0px;
color: #25282A;
}
.flexRow--pdpfooterfixed :global(.vtex-product-identifier-0-x-product-identifier__label){
    font-size: 0;
}
.flexColChild--footerfixed2 :global(.vtex-product-price-1-x-installmentsNumber)::after {
    content: "";
    font-weight: 700;
}

.flexCol--footerfixed2 :global(.vtex-product-price-1-x-installmentValue), :global(.vtex-product-price-1-x-installmentValue--summary-1){
    width: 24px;
    height: 19px;
        text-align: left;
    font: normal normal bold 14px/18px arial;
    letter-spacing: 0px;
    color: #25282A;

}