.caretIcon--product-images-pdp {
    color: #B1B3B3;
}

.productImagesGallerySwiperContainer--product-images-pdp :global(.vtex-store-components-3-x-swiper-pagination) {
    bottom: 0px;

}

.productImagesGallerySwiperContainer--product-images-pdp :global(.vtex-store-components-3-x-swiperBullet) {
    background-color: #25282A;
}
