.infoCardContainer--info-card-home {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 45px;
    margin-bottom: 60px;
}

.infoCardHeadline--info-card-home {
    color: #441AFA;
    letter-spacing: 9.6px;
    text-transform: uppercase;
    font-size: 32px;
}

.infoCardSubhead--info-card-home {
    font-size: 16px;
    font-weight: normal;
    color: #000000;
}

.infoCardContainer--info-card-home :global(.vtex-button) {
    border: 1px solid #000000;
    border-radius: 0;
    width: 250px;
    height: 48px;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
}

.infoCardTextContainer--info-card-home {
    align-items: flex-start;
}

.imageElement--image-new-sale {
    margin: 15px;
    max-width: 360px;
    max-height: 345px;
    width: 90vh;
    height: 90vh;
}

.imageElement--img-banner {
    max-height: 230px;
}

.imageElement--image-desktop-1 {
    width: 1252px;
}

.imageElement--row-2-image-mobile {
    margin-top: 70px;
}

@media (min-width: 1024px) {
    .infoCardContainer--info-card-home-desktop {
        background-color: #f5f6f6;
        margin-top: 80px;
        margin-bottom: 80px;

    }

    .infoCardHeadline--info-card-home-desktop {
        color: #441AFA;
        letter-spacing: 9.6px;
        text-transform: uppercase;
        font-size: 32px;
    }

    .infoCardSubhead--info-card-home-desktop {
        font-size: 16px;
        font-weight: normal;
        color: #000000;
    }

    .infoCardContainer--info-card-home-desktop :global(.vtex-button) {
        border: 1px solid #000000;
        border-radius: 0;
        width: 250px;
        height: 48px;
        color: #000000;
        font-size: 12px;
        font-weight: bold;
        background-color: transparent;
    }

    .imageElement--image-new-sale {
        max-width: 600px;
        max-height: 600px;
        width: 100vh;
        height: 100vh;
        cursor: pointer;
    }

    .imageElement--img-banner {
        max-height: 300px;
        width: 390px;
        margin-right: 50px;
        margin-bottom: 20px;
        margin-left: 50px;
        cursor: pointer;
    }
    
}
.imageElement--img-footer-facebook {
    justify-content: right;
}
.imageElement--imagens-pagamentos{
margin: 10px;
}
.imageElement--vtexcertificado{
    padding-right: 30px;
}
.imageElement--imageavanti{
    padding-left: 436px;
}
.imageElement--imagevtex{
    padding-left: 242px;
}