.slide--shelf {
    margin-bottom: 0;
}

.caretIcon--shelf {
    color: #B1B3B3;
}

.sliderLayoutContainer--shelf {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}

.paginationDotsContainer--deals-mobile {
    display: none;
}

.slideChildrenContainer--deals-mobile {
    padding-top: 10px;
    padding-bottom: 10px;
}

.paginationDotsContainer--slider-banners {
    display: none;
}

.caretIcon--slider-banners {
    color: #B1B3B3;
}


.paginationDotsContainer--shelf-2 {
    margin-bottom: -40px;

}

.paginationDot--shelf-2--isActive {
    background-color: #25282A;
}

.paginationDot--home-slider-banner {
    border: 1px solid #FFFFFF;
}

.paginationDot--home-slider-banner--isActive {
    background-color: #25282A;

}

.slideChildrenContainer--shelf-2 :global(.vtex-stack-layout-0-x-stackItem) :nth-child(2n) {
    position:absolute;
    top: 25px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 10px;
    background-color: #441AFA;
    border-radius: 0;
    left: 0px;  
}

@media (min-width: 1024px) {
    .sliderLayoutContainer--shelf {
        max-width: 1252px;
        padding-right: 40px;
        padding-left: 40px;
    }


    .sliderLeftArrow--shelf-2 {
        background: #25282A!important;
        color: white;
        width: 40px;
        height: 40px;
        
    }

    .sliderRightArrow--shelf-2 {
        background-color: #25282A!important;
        color: white;
        width: 40px;
        height: 40px;
       
    }

}
