.productHighlightText--text-inovacao {
    letter-spacing: 1px;
    position: absolute;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 10px;
    background-color: #25282A;
    border-radius: 0;
}
