.flexRow--newsletter-footer-desktop{
    max-width: 1252px;
    margin-top: 0px;
    background-color: #eeeeee;
    padding: 45px 0px

}
.flexCol--Footer-image{
    align-items: flex-start;
}
.flexCol--col-newsletter{   
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.flexRow--Row-footer{
    margin-top: 80px;
    background-color: #eeeeee;
}
.flexRowContent--newsletter-text{
    flex-direction: column;
}
.flexRow--footer-menu{
    background-color: #eeeeee;
    margin: 0 auto;
}
.flexRowContent--Footer-menu-wrapper{
    display: flex;
    font: normal normal normal 12px/17px arial;
    letter-spacing: 1px;
    color: #25282A;
    margin: auto;
    max-width: 1252px;
    margin: 0 auto;
    justify-content: center;
}
.flexRowContent--footer-menu{
    max-width: 1252px;
    font-size: 1rem;
}
.flexRowContent--Row-footer{
    max-width: 1252px;
    margin: 0 auto;
}
.flexCol--Sociais{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: -420px;
}
.flexRowContent--Footer-menu-wrapper :global(.vtex-menu-2-x-styledLinkContainer){
    margin: 0.01rem;
    line-height: 25.5px;
}
.flexRow--pagamentos{
    background-color: #eeeeee;
}

.flexRowContent--pagamentos{
    margin-top: 2px;
    max-width: 1284px;
    margin: 0 auto;
    border-top: 1px solid #8C8F90;
}
.flexRowContent--RowPagamentos{
    justify-content: start;
    align-items: start;
}
.flexRowContent--row-pagamentos2{
    margin-top: 2px;
    display: flex;
    justify-content: flex-end;
}
.flexColChild--vtexcertificado{
    display: flex;
    justify-content: flex-end;
}
.flexRowContent--endfooterwrapper{
    max-width: 1252px;
    margin: 0 auto;
    margin-top: 3px;
}
.flexRowContent--imagesendfooter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flexRow--endfooter{
    height: 30px;
}