.accordionIcon--menu-items-footer {
    display: none;
}

.styledLinkContent--menu-items-footer {
    color: #25282A;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0px;
}

.styledLinkIcon--menu-items-footer :first-child {
    width: 20px;
    height: 15px;
    color: #25282A;
}

.styledLinkContent--sub-menu-items-footer {
    color: #25282A;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.submenuAccordion--sub-menu-accordion-mobile {
    padding-left: 0;
}

.menuItem--menu-items-footer--isOpen :global(.vtex-menu-2-x-styledLinkIcon--menu-items-footer) {
    transform: rotate(180deg);
    transition: 0.5s;
}

.menuItem--menu-items-footer--isClosed :global(.vtex-menu-2-x-styledLinkIcon--menu-items-footer) {
    transform: rotate(0deg);
    transition: 0.5s;
}

@media (min-width:1024px) {
    .styledLinkContent--sub-menu-items-footer {
        font-size: 12px;
        
    }

    .styledLinkContainer--sub-menu-items-footer {
        margin-left: 0;
    }
}