.imageElement--image-payment {
    margin: 5px;
}

.imageElement--image-footer-avanti {
    padding-right: 20px;
    border-right: 1px solid #eeee;
}

.imageElement--image-footer-vtex {
    padding-left: 10px;
}

@media (min-width:1024px) {
    .imageElement--image-payment {
        margin: 10px;
    }
}