@media (max-width: 640px) {
    .flexRowContent--newsletter-footer-desktop {
      background-color: #eee;
      padding: 30px 45px;
    }
  }
  
  .newsletterForm--newsLetterFormdesktop{
      margin-top: 55px;
    display: flex;
    flex-direction: row;

}

.emailInputContainer{
    width: 250px;
}
.nameInputContainer{
    width: 250px;

}
.nameInputContainer--Input-name :global(.vtex-input-prefix__group){
    color: black;
}


.formSubmitContainer--ButtonsubmitNewsLetterMobile  :global(.vtex-button__label){
    background-color: transparent;
    margin-top: -18px;
    border: none;
    text-align: left;
    font: normal normal bold 15px/30px arial;
    letter-spacing: 1.2px;
    color: #441AFA;
    text-transform: uppercase;
    opacity: 1;
}


.nameInputContainer--NewsletterInputName :global(.vtex-styleguide-9-x-hideDecorators){
    background-color: transparent;
    border-radius: 0;
    border: 1px solid;
    border-color: black;
}
.emailInputContainer :global(.vtex-styleguide-9-x-hideDecorators){
    background-color: transparent;
    border-radius: 0;
    border: 1px solid;
    border-color: black;
}