.paragraph--news-letter-title {
    font-size: 20px;
    font-weight: bold;
    color: #441AFA;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.paragraph--news-letter-text {
    font-size: 16px;
    font-weight: normal;
    color: #25282A;
    letter-spacing: 2px;

}

.wrapper--footer {
    margin-right: 1rem;
    margin-left: 1rem;
}

.paragraph--footer {
    font-size: 11px;
    text-align: center;
    font-weight: normal;
    color: #000000;
}

@media (min-width:1024px) {
    .paragraph--news-letter-title {
        font-size: 14px;
        letter-spacing: 1.4px;

    }

    .paragraph--text-items-desktop {
        font-size: 14px;
        font-weight: bold;
        color: #25282A;

    }

    .paragraph--footer {
        text-align: left;
    }
}