.flexRow--newsletter-footer-desktop{
    max-width: 1252px;
    margin-top: 0px;
    background-color: #eeeeee;
    padding: 45px 0px

}
.flexCol--Footer-image{
    align-items: flex-start;
}
.flexCol--col-newsletter{   
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.flexRow--Row-footer{
    margin-top: 80px;
    background-color: #eeeeee;
}
.flexRowContent--newsletter-text{
    flex-direction: column;
}
.flexRow--footer-menu{
    background-color: #eeeeee;
    margin: 0 auto;
}
.flexRowContent--Footer-menu-wrapper{
    display: flex;
    font: normal normal normal 12px/17px arial;
    letter-spacing: 1px;
    color: #25282A;
    opacity: 1;
    margin: auto;
    padding: 0%;
}
.flexRowContent--footer-menu{
    max-width: 1252px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 0%;
    font-size: 1rem;
}
.flexCol--Sociais{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: -420px;
}
.flexRowContent--Footer-menu-wrapper :global(.vtex-menu-2-x-styledLinkContainer){
    margin: 0.01rem;
    line-height: 25.5px;

}

