.container--1-rich-text-col {
    display: flex;
    justify-content: center;
}


.wrapper--1-rich-text-col {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 12px;
    color: #B1B3B3;
}

@media (min-width: 1024px) {
    .container--1-rich-text-col {
        display: flex;
        justify-content: left;
    }

    .wrapper--col2-desktop-col-text {
        display: flex;
        height: 32px;
        margin-left: 15px;
        align-items: center;
        font-size: 11px;
        color: #B1B3B3;
        text-transform: uppercase;
    }

    .wrapper--2-rich-text-col {
        display: flex;
        height: 15px;
        align-items: center;
        font-size: 11px;
        color: #B1B3B3;
        border-right: solid 1px #B1B3B3;
        text-transform: uppercase;
        font-size: 11px;
    }

    .paragraph--2-rich-text-col {
        margin-right: 15px;
        cursor: pointer;
    }

    .paragraph--2-rich-text-col:hover {
        color: #fff;
    }

    .paragraph--col2-desktop-col-text {
        cursor: pointer;
    }

    .paragraph--col2-desktop-col-text:hover {
        color: #fff;
    }

    .container--sub-menu-text {
        display: flex;
        margin-left: 1.5rem;
        justify-content: flex-start;
    }

    .paragraph--sub-menu-text {
        letter-spacing: 0px;
        color: #441AFA;
        font-size: 16px;
        font-weight: bold;
    }
}