.autoCompleteOuterContainer :global(.vtex-store-components-3-x-searchBarIcon) {
    background-color: blue;
    color: #fff;
}
.autoCompleteOuterContainer :global(.vtex-store-components-3-x-suffixWrapper) {
    width: 48px;
}
.autoCompleteOuterContainer :global(.vtex-store-components-3-x-searchBarIcon) {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
}


.autoCompleteOuterContainer :global(.vtex-input__suffix) {
    padding: 0;
}