.flexRow--Top-bar-mobile{
background-color: black;
width: 414px;
height: 37px;
}
.flexRowContent--Top-bar-mobile{
    justify-content: center;
}
.flexRowContent--HeaderMenuMobile{
    width: 414px;
    height: 50px;
    justify-content: space-evenly;
    margin-top: 8px;
}
.flexRow--HeaderMenuMobile{
    background-color: #EEEEEE 0% 0% no-repeat padding-box;
}