
.container--layout-option {
  margin-left: 0.3em;
}

.paragraph--layout-option {
  margin: 0;
}

.paragraph--summarySpecificationBullet {
  margin: 0;
  line-height: initial;
  font-size: 1.25rem;
  line-height: 1.15rem;
}

.container--vitrine-1-notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.paragraph--vitrine-1-notfound {
  color: #25282A;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}