.flexRow--Row-footer-mobile{
    background-color: #EEEEEE;
    margin-top: 80px;

}
.flexRow--FooterMenuAccordion{
    background-color: #EEEEEE;
}
.flexRow--SociaisMobile{
    background-color: #EEEEEE;
}
.flexRowContent--SociaisMobile{
    padding-top: 30px;
    margin: 0 auto;
    width: 100px;
    display: flex;
    flex-direction: row;
}
.flexRow--row-footer-metodosdepagamentos{
    background-color: #EEEEEE;
}
.flexRowContent--MetodosDePagamentosImagens{
    border-top: 1px black;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 300px;

}