
    .nameInputContainer--NewsletterInputName{
        height: 48px;
        width: 316px;
        margin: 0 auto;
  
    }
    .emailInputContainer{
        height: 48px;
        width: 316px;
        margin: 0 auto;
     
    }
  
    .formSubmitContainer--ButtonsubmitNewsLetterMobile :global(.vtex-button){
        display: flex;
        justify-content: center;
        padding-top: 20px;
        margin: 0 auto;
        background-color: transparent;
        border: none;
        text-align: left;
        font: normal normal bold 20px/27px arial;
        letter-spacing: 1.2px;
        color: #441AFA;
        text-transform: uppercase;
        opacity: 1;
    } 
    .nameInputContainer--NewsletterInputName :global(.vtex-styleguide-9-x-input){

        background-color: transparent;
        border-radius: 0;
        border: 1px solid black;
        color: black;   
    
    }
