.flexRow--Row-footer-mobile{
    background-color: #EEEEEE;
    margin-top: 100px;

}
.flexRow--FooterMenuAccordion{
   padding-top: 30px;
    background-color: #EEEEEE;
}
.flexRow--SociaisMobile{
    background-color: #EEEEEE;
}
.flexRowContent--SociaisMobile{
    padding-top: 30px;
    margin: 0 auto;
    width: 100px;
    display: flex;
    flex-direction: row;
}
.flexRow--row-footer-metodosdepagamentos{
    background-color: #EEEEEE;
}
.flexRowContent--MetodosDePagamentosImagens{
    border-top: 1px black;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 300px;

}
.flexRow--mainrowcertificados{
    background-color: #EEEEEE;
}
.flexRow--wrapper-footer-certificados-mobile{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.flexRowContent--wrapper-footer-certificados-mobile{
display: flex;
flex-direction: unset;
width: 200px;
justify-content: center;
}

.flexCol--FooterImagensVtex{ 
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}